main {
  grid-column: 8 / 12;
  grid-row: 2 / 8;
  width: 98%;
  margin: auto;
  color: $white;

  @include for-size(phone-only) {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0;

    @include for-size(phone-only) {
      font-size: 1.8rem;
    }
  }

  p {
    font-size: 1.2rem;
  }

  .btn-container {
    margin: 2rem 0;

    button {
      border: 0;
      font-size: 1.2rem;
      padding: 1rem 3rem;
      border-radius: 25px;
      color: $violet;
      box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);

      &:hover {
        cursor: pointer;
        transform: translateY(-4px);
        background-color: $magenta;
        color: $white;
        transition: transform 1s ease-in-out, background-color 1s ease-in;
      }

      @include for-size(phone-only) {
        padding: 0.8rem 4rem;
      }
    }
  }
}
